<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:task="http://www.springframework.org/schema/task"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
       http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task.xsd"
       default-lazy-init="true">

    <!-- Activates scanning of @Autowired -->
    <context:annotation-config/>

    <!-- Activates scanning of @Repository and @Service -->
    <context:component-scan base-package="cn.cct"/>

    <!-- Add new DAOs here -->

    <!-- Add new Managers here -->

    <!-- Activates spring task-->
    <task:annotation-driven scheduler="jobTask"/>
    <task:scheduler id="jobTask" pool-size="10"/>
    <task:scheduled-tasks>
        <task:scheduled ref="exportTask" method="exportReports" cron="0/30 * * * * ?"/>
    </task:scheduled-tasks>

</beans>